@model BeautyCenterCore.Models.Facturas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Facturas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="form1">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-calendar"> Fecha:</span>
                    <input class="form-control input-group input" type="text" placeholder="Fecha" id="dpFecha" required readonly />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Cliente</span>
                    <select class="form-control selected" id="ClienteList">
                        <option value="0" disabled selected> </option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Empleado</span>
                    <select class="form-control selected" id="EmpleadoList">
                        <option value="0" disabled selected> </option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Servicios</span>
            <select class="form-control selected" id="ServicioList">
                <option value="0" disabled selected> </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Precio</span>
            <input class="form-control input-group-sm col-2" type="text" id="tbPrecio" placeholder="Precio" disabled />
            <span class="input-group-addon">Cantidad</span>
            <input class="form-control input-group-sm col-2" type="text" id="tbCantidad" placeholder="Cantidad" />
            <span class="input-group-addon">Descuento   </span>
            <input class="form-control input-group-sm col-2" type="text" id="tbDescuento" placeholder="Descuento" />
            <button type="button" class="btn btn-success col-sm-2" id="btnAgregar" onclick="Agregar()">Agregar</button>
        </div>
    </div>
    .....
    <div>
        <div id="content">
            <table id="tabla" class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ServicioId</th>
                        <th>Servicio</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Descuento</th>
                        <th>SubTotal</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody id="tbBody"></tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Total:</span>
                <input class="form-control input-group-lg col-2" type="text" id="tbTotal" value="0" readonly />
            </div>
        </div>
        <div class="form-group text-center col-xl-12">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-success col-sm-2" id="btnCrear" onclick="Crear()">Crear</button>
                <button type="button" class="btn btn-success col-sm-2" id="btnRecorrer">Recorrer</button>
            </div>
        </div>
    </div>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/moment-with-locales.min.js"></script>
        <script src="~/js/jquery-3.1.1.min.js"></script>
        <script src="~/js/jquery-ui.js"></script>

        <script type="text/javascript">
            $(document).off('.datepicker.data-api'); $('#dpFecha').datepicker({ format: 'dd/mm/yyyy', autoclose: true });
            CargarClientes(); CargaServicios(); CargarEmpleados(); var cont = 0; var Contenido = new Array();

            $("#ServicioList").change(function () {
                var Precio = $('#ServicioList').find('option:selected').attr('value');
                $('#tbPrecio').val(Precio);
            })
            function Agregar() {
                var monto = $('#tbTotal').val();
                var Precio = $('#ServicioList').find('option:selected').attr('value');

                var atributos = $('#ServicioList').find('option:selected'); cont++;
                var ServicioListId = $('#ServicioList').find('option:selected').attr('id');

                var Cantidad = $('#tbCantidad').val();
                var Descuento = $('#tbDescuento').val();
                var cc = Precio * Cantidad;
                var sub = cc - Descuento;
                monto = parseFloat(sub) + parseFloat(monto);


                var fila = '<tr> <td>' +
                    cont + "<td>" + ServicioListId + "</td>" + "<td>" + atributos.text() + "</td>" + "<td>" + Precio + "</td>" + "<td>" + Cantidad + "</td>" + "<td>" + Descuento + "</td>" + "<td>" + sub + "</td>"
                    + "<td>" + '<input type="button" value="Delete" onclick="deleteRow(this)"onclick="Pre(this)"/>' + "</td>" + " </tr>";

                $('#tabla').append(fila);
                $('#tbTotal').val(monto);
                $('#ServicioList').val($('#ServicioList > option:first').val());
            }
            function deleteRow(r) {
                var i = r.parentNode.parentNode.rowIndex;
                document.getElementById("tabla").deleteRow(i);
                $('#ServicioList').val($('#ServicioList > option:first').val());
            }

            function Enviar(personas) {
                var pack = JSON.stringify(personas);
                $.ajax(
                    {
                        method: "POST",
                        url: "/CargaFacturas/GuardarFacturas",
                        data: personas,

                        success: function (id) {
                            if (parseInt(id) > 0) {
                                Detalle(id);
                            }
                            else {
                                //updateTips("No pueden haber campos vacios!!");
                            }
                        }
                    });
            };
            function Crear() {
                var ClienteList = $('#ClienteList').find('option:selected');
                var EmpleadoList = $('#EmpleadoList').find('option:selected');

                var total = $('#tbTotal').val();
                var fecha = $('#dpFecha').val();

                var Factura = {
                    CitaId: 0,
                    Clientes: ClienteList.text(),
                    Empleados: EmpleadoList.text(),
                    Fecha: fecha,
                    Total: total
                }
                console.log(Factura);
                Enviar(Factura);
            }
            function Detalle(facturaId) {
                $('#tbBody tr').each(function () {

                    var Id = facturaId;
                    var ServicioId = $(this).find('td').eq(1).html();
                    var Servicio = $(this).find('td').eq(2).html();
                    var Precio = $(this).find('td').eq(3).html();
                    var Cantidad = $(this).find('td').eq(4).html();
                    var Descuento = $(this).find('td').eq(5).html();
                    var SubTotal = $(this).find('td').eq(6).html();
                    Contenido.push(
                        {
                            Id: 0,
                            FacturaId: Id,
                            ServicioId: ServicioId,
                            Servicio: Servicio,
                            Precio: Precio,
                            Cantidad: Cantidad,
                            Descuento: Descuento,
                            SubTotal: SubTotal
                        });
                    console.log(Contenido);
                    EnviarD(Contenido);
                });
            }
            function EnviarD(detail) {
                var pack = JSON.stringify(detail);
                $.ajax(
                    {
                        type: "POST",
                        url: "/CargaFacturas/GuardarDetalleFacturas",
                        data: pack,
                        contentType: "application/json",
                        success: function (data) {
                            if (!data) {
                                alert("No se guardo el detalle");
                            }
                            else {
                                //updateTips("Peticion realizada con exito!!");
                            }
                        }
                    });
            }
            function CargaServicios() {
                $.getJSON("/CargaFacturas/ListaServiciosFacturas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.servicioId;
                            var Precio = lista.precio;
                            var Nombre = lista.nombre;
                            var option = "<option id='" + Id + "'value='" + Precio + "'>" + Nombre + "</option>";
                            $('#ServicioList').append(option);
                        });
                    });
            }
            function CargarClientes() {
                $.getJSON("/CargaFacturas/ListaClientesFacturas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.clienteId;
                            var Nombre = lista.nombres;
                            var option = "<option id='" + Id + "'value='" + 0 + "'>" + Nombre + "</option>";
                            $('#ClienteList').append(option);
                        });
                    });
            }
            function CargarEmpleados() {
                $.getJSON("/CargaFacturas/ListaEmpleadosFacturas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.empleadoId;
                            var Nombre = lista.nombres;
                            var option = "<option id='" + Id + "'value='" + 0 + "'>" + Nombre + "</option>";
                            $('#EmpleadoList').append(option);
                        });
                    });
            }

        </script>

    }
}
