@model BeautyCenterCore.Models.Citas

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<style>
    #content {
        position:  center;
        min-height: 50%;
        width: 80%;
        top: 20%;
        left: 5%;
    }

    .selected {
        cursor: pointer;
    }

        .selected:hover {
            background-color: #0585C0;
            color: white;
        }

    .seleccionada {
        background-color: #0585C0;
        color: white;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Citas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Cliente</span>
                <select class="form-control selected" id="ClienteList">
                    <option value="" disabled selected>Clientes</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Empleado</span>
                <select class="form-control selected" id="EmpleadoList">
                    <option value="" disabled selected>Empleados</option>
                </select>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"> Fecha:</span>
                <input class="form-control input-group input" type="text" placeholder="Fecha" id="dpFecha" required readonly />
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Servicios</span>
                <select class="form-control selected" id="ServicioList">
                    <option value="0" disabled selected>Servicios</option>
                </select>
                <button type ="button" id="bt_add" class="btn btn-default">Agregar</button>
                <button type="button" id="bt_del" class="btn btn-default">Eliminar</button>
                <button type ="button"id="bt_delall" class="btn btn-default">Eliminar todo</button>
            </div>
        </div>

        <div id="content">
		<table id="tabla" class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>ServicioId</td>
				<td>Servicio</td>
			</tr>
		</thead>
            <tbody id="tbBody"></tbody>
	</table>
	</div>

        <div class="form-group text-center col-xl-12">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-success col-sm-2" id="btnCrear" onclick="CrearCita()">Crear</button>
            </div>
        </div>
    </div>

}
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="js/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <script type="text/javascript" src="~/js/moment.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#bt_add').click(function () {
                    agregar();
                });
                $('#bt_del').click(function () {
                    eliminar(id_fila_selected);
                });
                $('#bt_delall').click(function () {
                    eliminarTodasFilas();
                });


            });
            var cont = 0;
            var id_fila_selected = [];
            function agregar() {
                cont++;
                var long = $("#tbBody tr").length;
                var atributos = $('#ServicioList').find('option:selected');
                var ServicioListId = $('#ServicioList').find('option:selected').attr('id');
                
                var fila = '<tr class="selected" id="fila' + cont + '" onclick="seleccionar(this.id);"><td>' +
                    cont + "<td>" + ServicioListId + "</td>" + "<td>" + atributos.text() + "</td>" + "</tr>";
                
                $('#tabla').append(fila);
                reordenar();
            }

            function seleccionar(id_fila) {
                if ($('#' + id_fila).hasClass('seleccionada')) {
                    $('#' + id_fila).removeClass('seleccionada');
                }
                else {
                    $('#' + id_fila).addClass('seleccionada');
                }
                //2702id_fila_selected=id_fila;
                id_fila_selected.push(id_fila);
            }

            function eliminar(id_fila) {
                /*$('#'+id_fila).remove();
                reordenar();*/
                for (var i = 0; i < id_fila.length; i++) {
                    $('#' + id_fila[i]).remove();
                }
                reordenar();
            }

            function reordenar() {
                var num = 1;
                $('#tabla tbody tr').each(function () {
                    $(this).find('td').eq(0).text(num);
                    num++;
                });
            }
            function eliminarTodasFilas() {
                $('#tabla tbody tr').each(function () {
                    $(this).remove();
                });

            }

            ///////////////////////////////////////////////////////////////////////////
            var cId = 0; var eId = 0; var sId = 0;
            $(document).ready(function () {
                CargarClientes();
                CargarEmpleados();
                CargaServicios();
            });
            $(document).off('.datepicker.data-api');
            $('#dpFecha').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
            $("#Borrar").click(function () {
                var trs = $("#tDetalle tr").length;
                if (trs > 1) {
                    $("#tDetalle tr:last").remove();
                }
            });
            function CrearDetalle(ciId) {
                $('#tbBody tr').each(function () {
                    var Contenido = new Array();
                    var CitaId = ciId;
                    var Ser = $(this).find('td').eq(1).html();
                    Contenido.push(
                        {
                            Id: 0,
                            CitaId: CitaId,
                            ClienteId: cId,
                            ServicioId: Ser,
                            EmpleadoId: eId
                        });
                    console.log(Contenido);
                    SentDetails(Contenido);
                });
            }
            function AgregarDetalle() {

                var long = $("#tbBody tr").length;
                var atributos = $('#ServicioList').find('option:selected');
                var ServicioListId = $('#ServicioList').find('option:selected').attr('id');

                var fila = "<tr>";
                fila += "<td>" + (long + 1) + "</td>";
                fila += "<td>" + ServicioListId + "</td>";
                fila += "<td>" + atributos.text() + "</td>";
                fila += "</tr>";

                $('#tabla tbody').append(fila);
            }
            function SentDetails(detail) {
                var pack = JSON.stringify(detail);
                $.ajax(
                    {
                        type: "POST",
                        url: "/Cargador/GuardarDetalleCitas",
                        data: pack,
                        contentType: "application/json",
                        success: function (data) {
                            if (!data) {
                                alert("No se guardo el detalle");
                            }
                            else {
                                alert("Se Guardo");
                                Limpiar();
                            }
                        }
                    });
            }

            function EnviarCita(personas) {
                var pack = JSON.stringify(personas);
                $.ajax(
                    {
                        method: "POST",
                        url: "/Cargador/GuardarCitas",
                        data: personas,

                        success: function (id) {
                            if (parseInt(id) > 0) {
                                CrearDetalle(id);
                            }
                            else {
                                alert("No se Guardo!!!!!");
                            }
                        }
                    });
            };
            function CrearCita() {
                var ClienteList = $('#ClienteList').find('option:selected');
                var ClienteListId = $('#ClienteList').find('option:selected').attr('id'); cId = ClienteListId;

                var ServicioList = $('#ServicioList').find('option:selected');
                var ServicioListId = $('#ServicioList').find('option:selected').attr('id'); sId = ServicioListId;

                var EmpleadoList = $('#EmpleadoList').find('option:selected');
                var EmpleadoListId = $('#EmpleadoList').find('option:selected').attr('id'); eId = EmpleadoListId;

                var p = "09/09/09";
                var dstr = $('#dpFecha').val();

                var Citas = {
                    CitaId: 0,

                    ClienteId: ClienteListId,
                    Nombres: ClienteList.text(),

                    ServicioId: ServicioListId,
                    Servicio: ServicioList.text(),

                    EmpleadoId: EmpleadoListId,
                    NombreE: EmpleadoList.text(),

                    Fecha: dstr
                }
                console.log(Citas);
                EnviarCita(Citas);
            }

            function Limpiar() {
                $('#inpId').val("");
                $('#tbCantPersonas').val("");
                $('#dpFecha').val("");
                $('#tbBody tr').remove();
            }

            function CargaServicios() {
                $.getJSON("/Cargador/ListaServiciosCitas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.servicioId;
                            var Precio = lista.precio;
                            var Nombre = lista.nombre;
                            var option = "<option id='" + Id + "'value='" + Precio + "'>" + Nombre + "</option>";
                            $('#ServicioList').append(option);
                        });
                    });
            }
            function CargarClientes() {
                $.getJSON("/Cargador/ListaClientesCitas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.clienteId;
                            var Nombre = lista.nombres;
                            var option = "<option id='" + Id + "'value='" + 0 + "'>" + Nombre + "</option>";
                            $('#ClienteList').append(option);
                        });
                    });
            }
            function CargarEmpleados() {
                $.getJSON("/Cargador/ListaEmpleadosCitas",
                    {
                        id: 1
                    },
                    function (lista) {
                        $.each(lista, function (index, lista) {
                            var Id = lista.empleadoId;
                            var Nombre = lista.nombres;
                            var option = "<option id='" + Id + "'value='" + 0 + "'>" + Nombre + "</option>";
                            $('#EmpleadoList').append(option);
                        });
                    });
            }
        </script>
    }
}
